# All dependncies are at least 2 versions or 2 months older (which might be more stable)

numpy>=2.1.0
pandas>=2.2.1
scikit-learn>=1.5.0
pyyaml>=6.0.1
xgboost>=2.1.0
flask>= 3.0.2
requests>=2.30.3
pytest>=8.2.0
flasgger>=0.9.5
